@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

* { 
    color: white;
    font-family: 'Libre Franklin', sans-serif;
    background-color: grey;
    }
    
img {
    max-width: 100%;
    height: auto;
}    

main {
    text-align: center
}

